
<h1><%= data.school %>, <%= data.district %></h1>

<!--Shows the build years.-->
<% if (data.buildings.length < 2) { %>
This school has <b><%= data.buildings.length %></b> building, built in <b><%= data.oldest %></b>, 
<% } else if (data.oldest === data.newest) { %>
This school has <b><%= data.buildings.length %></b> building(s), built in <b><%= data.oldest %></b>, 
<% } else {%>
This school has <b><%= data.buildings.length %></b> buildings, built between <b><%= data.oldest %></b> and <b><%= data.newest %></b>, 


<!--Shows the hazard likelihood.-->
<% }; if ( data.highHazards > 0 && data.moderateHazards) { %>
<b><%= data.moderateHazards %></b> with a moderate to high earthquake risk, and <b><%= data.highHazards %></b> with a high to very high earthquake risk.
<% } else if (data.moderateHazards > 0) { %> 
<b><%= data.moderateHazards %></b> with a moderate to high earthquake risk.
<% } else if (data.highHazards > 0) { %> 
<b><%= data.highHazards %></b> with a high to very high earthquake risk.
<% } else { %>
with either moderate to low or low earthquake risk.
<% }; %>

<!--Shows if the buildings have mitigation complete.-->
<% if (data.mitigation["Structural Retrofit"]) { %> 
OSPI data shows <b><%= data.mitigation["Structural Retrofit"] %></b> of its buildings have had seismic upgrades.
<% } else { %> 
OSPI data shows that <b>none</b> of its buildings have had a seismic upgrade.
<% }; %>