@no-visible-color: #C22;
@visible-color: @st-dark-green;
@permit-color: @st-dark-green;
@sub-alt-color: @st-dark-green;

.urm-cluster {
  border-radius: 100%;
  text-align: center;
  line-height: 30px;
  background: @df-light-gray;
  color: @df-dark-gray;
  font-family: @df-sans;
  font-size: 16px;
  border: 1px solid @df-dark-gray;
  box-shadow: 2px 2px 4px fade(black, 10%);
  opacity: .8;

  &.large {
    line-height: 60px;
    font-size: 20px;
  }

  &.small {
    line-height: 20px;
    font-size: 13px;
  }
}

.urm-building {
  background: @df-dark-gray;
  border-radius: 100%;

  &.no-visible {
    background: @no-visible-color;
  }

  &.visible {
    background: @visible-color;
  }

  &.permit {
    background: @permit-color;
  }

  &.sub-alt {
    background: @sub-alt-color;
  }
}

.masonry.key-block {
  ul {
    list-style-type: none;
    padding: 0;
  }

  .dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: black;
    border-radius: 100%;
    vertical-align: text-bottom;

    &.no-visible { background: @no-visible-color }
    &.visible { background: @visible-color }
    &.permit { background: @permit-color }
    &.sub-alt { background: @sub-alt-color }
  }
}