@no-visible-color: #800026;
@visible-color: #fd8d3c;
@permit-color: #fd8d3c;
@sub-alt-color: #fd8d3c;

@mostly-unaltered: mix(@no-visible-color, @visible-color, 80%);
@even-mix: mix(@no-visible-color, @visible-color, 50%);
@mostly-altered: mix(@no-visible-color, @visible-color, 20%);

.masonry-page {
  main.interactive {
    font-size: 15px;
    padding: 20px;
    margin: 20px 0;
    border-top: 1px solid @df-light-gray;
    border-bottom: 1px solid @df-light-gray;

    h2.headline {
      font-size: 20px;
      margin: 0;
    }
  }
  
  .layer-button {
    display: none;
  }
}

.urm-cluster {
  border-radius: 100%;
  text-align: center;
  line-height: 30px;
  background: @df-light-gray;
  color: black;
  font-family: @df-sans;
  font-size: 16px;
  border: 1px solid @df-dark-gray;
  box-shadow: 2px 2px 4px fade(black, 10%);
  opacity: .8;

  &.large {
    line-height: 60px;
    font-size: 20px;
  }

  &.small {
    line-height: 20px;
    font-size: 13px;
  }

  &.unaltered {
    background: @no-visible-color;
  }

  &.mostly-unaltered {
    background: @mostly-unaltered;
  }

  &.even-mix {
    background: @even-mix;
  }

  &.mostly-altered {
    background: @mostly-altered;
  }

  &.retrofitted {
    background: @visible-color;
  }
}

.urm-building {
  background: @df-dark-gray;
  border-radius: 100%;

  &.no-visible {
    background: @no-visible-color;
  }

  &.visible {
    background: @visible-color;
  }

  &.permit {
    background: @permit-color;
  }

  &.sub-alt {
    background: @sub-alt-color;
  }
}

.masonry-popup {
  h3 {
    font-size: 15px;
    margin-top: 0;
  }

  label {
    font-weight: bold;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

.masonry.key-block {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 100%;
    vertical-align: middle;

    &.no-visible { background: @no-visible-color }
    &.visible { background: @visible-color }
    &.permit { background: @permit-color }
    &.sub-alt { background: @sub-alt-color }
  }
}