.schools-page {
  main.interactive {
    font-size: 15px;
    padding: 20px;
    margin: 20px auto;
    border-top: 1px solid @df-light-gray;
    border-bottom: 1px solid @df-light-gray;

    h2.headline {
      font-size: 20px;
      margin: 0;
    }
  }

  .layer-button {
    display: none;
  }

  .chatter {
    font-size: 15px;
  }
}

.school-marker {
  width: 20px;
  height: 20px;
  margin: -10px;
  background: fade(@df-middle-gray, 10%);
  border: 1px solid @df-middle-gray;
  border-radius: 100%;

  &.high {
    background: fade(@df-orange, 20%);
    border: 1px solid @df-orange;
  }

  &.medium {
    background: fade(@df-blue, 20%);
    border: 1px solid @df-blue;
  }

}

.schools.key-block {

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    &.top-key li {
      display: inline;
      padding-right: 2%;
      font-style: italic;
    }
  }

  p.chatter {
    font-size: 11px;
  }

  .school-marker{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    vertical-align: middle;
    margin: 0;

    &.shape {
      background: 0%;
      &.square {
        border-radius: 0;
      }
    }
  }
}

.school-popup {
  font-size: 12px;

  h1 {
    font-size: 16px;
  }

  table {
    border-collapse: collapse;

    tr:nth-child(2n) td {
      background: @df-off-white;
    }

    th, td {
      border-right: 1px solid @df-light-gray;
      padding: 4px;

      &:last-child {
        border-right: none;
      }
    }
  }
}