<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body class="PAGE-CLASS" data-layer="LAYER-NAME">

    <responsive-child>
      <main class="interactive">
        <h2 class="headline">HEADLINE</h2>

        <p class="chatter">
          CHATTER
        <%= t.include("_map.html") %>
      </main>
    </responsive-child>

    <script src="embedded.js" async></script>
    <% if (json.project.production) { %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
