<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body class="schools-page" data-layer="schools">

    <responsive-child>
      <main class="interactive">
        <h2 class="headline">Earthquake preparedness in Washington</h2>

        <p class="chatter">
          Washington has preliminary data that assesses how vulnerable buildings are to earthquakes for 17 of its 295 school districts. This sample is from a federally-funded study and represents about 10% of the state’s public-school enrollment. Use the "Find me" button or type in your address to go directly to your location.

        <%= t.include("_map.html") %>
      </main>
    </responsive-child>

    <script src="embedded.js" async></script>
    <% if (json.project.production) { %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
